<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
        <pattern>%date{ISO8601} [%-5level] %logger{15} [%X{akkaSource}] - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${user.home}/.config/mope/mope-server.log</file>
    <encoder>
      <pattern>%date{ISO8601} [%-5level] %logger{15} [%X{akkaSource}] - %msg%n</pattern>
    </encoder>
  </appender>


  <!-- java-corba logger
    see also: https://docs.oracle.com/cd/E19747-01/819-0076/logging.html
  -->
  <logger name="javax.enterprise.resource.corba" level="OFF">
  </logger>
  <!-- EnhancedWatchService -->
  <logger name="ews" level="INFO">
  </logger>

  <!-- omc api -->
  <logger name="omc.corba" level="INFO">
  </logger>
  <!-- Akka framework -->
  <logger name="akka" level="INFO">
       <appender-ref ref="FILE"/>
       <appender-ref ref="STDOUT"/>
   </logger>
   <!-- typesafe classes -->
   <logger name="com.typesafe" level="INFO">
   </logger>

   <root level="DEBUG">
       <appender-ref ref="FILE"/>
       <appender-ref ref="STDOUT"/>
   </root>
</configuration>
